@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: 
        url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'), 
        url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff');
 }

 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   src: 
        url('../fonts/roboto-v29-latin_cyrillic-500.woff2') format('woff2'), 
        url('../fonts/roboto-v29-latin_cyrillic-500.woff') format('woff');
 }
 
 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: 
        url('../fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2'), 
        url('../fonts/roboto-v29-latin_cyrillic-700.woff') format('woff'); 
 }
*{
   box-sizing: border-box;
   scroll-behavior: smooth;
}
.visually-hidden{
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0);
 }
body{
   margin: 0;
   font-family: 'Roboto';
   overflow-x: hidden;
  
}
img{
   vertical-align: middle;
   object-fit: cover;
}
.container{
   width: 1380px;
   padding-right: 20px;
   padding-left: 20px;
   margin-top: 0;
   margin-right: auto;
   margin-bottom: 0;
   margin-left: auto;
}
// Header bosjlandi
.site-header{
   padding: 40px 0;
   background-image: url(../images/background.png);
   background-repeat: no-repeat;
   background-size: 100%;
   background-color: #F3D7B7;
   background-blend-mode: overlay;

   .header-inner{
      display: flex;
      align-items: center;
   }
   .nav{
      margin-left: auto;
   }
   .nav__list{
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;
   }
   .nav__item{
      margin-left: 40px;
   }
   .nav__item:nth-child(1){
      margin-left: 0;
   }
   .nav__link{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 1px;
   color: #333333;
   text-decoration: none;
   }
}

// hero boshlandi
.hero{
   position: relative;
   padding: 116px 0 249px;
   background-image: url(../images/Rectangle-679.png), url(../images/background.png);
   background-repeat: no-repeat;
   background-size:  contain, 100%;
   background-blend-mode:  normal, overlay;
   background-position: calc(50% + 405px) top, center center;
   background-color: #F3D7B7;

   .hero::before{
      position: absolute;
      top: calc(50% - 410px);
      left: calc(50% - 27px);
      display: block;
      width: 160px;
      height: 160px;
      background-image: url(../images/image-40.png);
      background-size: contain;
      background-repeat: no-repeat;
      content: "";
   
   }
   .hero-inner{
      width: 464px;
      padding-left: 100px;
   }
   .hero-title-box{
      width: 447px;
   }
   .hero-inner__hero-title{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 64px;
   line-height: 75px;
   margin: 0;
   margin-bottom: 24px;
   }
   .hero-inner__text-box{
   width: 464px;
   margin-bottom: 34px;
   }
   .hero-inner__hero-text{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   margin: 0;
   }
   .hero-inner__hero-link {
   display: inline-block;
   width: 193px;
   padding: 16px 24px;
   background-color: #0A775F;
   border-radius: 100px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 1px;
   text-decoration: none;
   color: #FFFFFF;
   }
}
// our servic
.our-service{
   position: relative;
   padding: 20px 20px;

   .our-service::before{
      position: absolute;
      top: calc(50% - 800px);
      left: calc(50% - 780px);
      display: block;
      width: 402px;
      height: 300px;
      background-image: url(../images/back-1.png);
      background-size: contain;
      background-repeat: no-repeat;
      content: "";
   }
   .our-service::after{
      position: absolute;
      top: calc(50% + -200px);
      right: calc( 50% - 970px);
      display: block;
      width: 397px;
      height: 477px;
      background-image: url(../images/back-3.png);
      background-size: contain;
      background-repeat: no-repeat;
      content: "";
   }
   .back-color{
      background-image: url(../images/Rectangle.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-blend-mode: overlay;
      background-color: #F4F4EB;
      background-blend-mode: overlay;
   }
   
   .our-servic-inner{
      position: relative;
      padding: 50px 143px 50px 143px; 
   }
   .our-servic-inner::before{
      position: absolute;
      top: calc(50% + 400px);
      left: calc(50% - 870px);
      display: block;
      width: 316px;
      height: 269px;
      background-image: url(../images/back-2.png);
      background-size: contain;
      background-repeat: no-repeat;
      content: "";
   }
   .our-service__servic-title{
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 50px;
      line-height: 59px;
      text-align: center;
      color: #000000;
      margin: 0;
      margin-bottom: 80px;
      margin-right: auto;
      margin-left: auto;
   }
   .servic-list{
      display: inline-block;
      width: 1114px;
      margin: 0 auto;
      padding: 0;
      list-style-type: none;
   }
   .servic-list__items{
      display: flex;
      align-items: center;
   }
   .servic-list__items:nth-child(2n + 2){
      flex-direction: row-reverse;
   }
   .servic-list__servic-right{
    margin-left: 117px;
   }
   .servic-right__title{
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      color: #333333;
      margin: 0;
      margin-bottom: 10px;
   }
   .servic-text-box__servic-text{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 22px;
      line-height: 34px;
      color: #333333;
      margin: 0;
   }
}

// functional
.functional{
   padding: 0 20px 20px 20px;

   .functional-box{
      height: 703px;
      background-image: url(../images/fuc.png);
      background-repeat: no-repeat;
      background-size: 100% 703px;
      background-color: #C3915C;
      background-blend-mode: overlay;
   }
   .functional-inner{
      padding: 50px 30px 80px 30px;
   }
   .functional__title{
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
      font-family:'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 59px;
      text-align: center;
      color: #FFFFFF;
   }
   .functional__text-box{
      display: block;
      width: 581px;
      margin: 0 auto;
      margin-bottom: 80px;
   }
   .functional__text{
   margin: 0;
   padding: 0;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   text-align: center;
   color: #FFFFFF;
   mix-blend-mode: normal;
   opacity: 0.8;
   }
   .functional-list{
     position: relative;
     left: -55px;
     display: flex;
     margin: 0;
     padding: 0 30px 0 30px;
     list-style-type: none;
   }
   .functional-list::before{
      display: block;
      position: absolute;
      top: -50px;
      left: -25px;
      width: 140px;
      height: 144px;
      background-image: url(../images/hjk.png);
      background-repeat: no-repeat;
      background-size: auto;
      content: "";
   }
   .functional-list__items{
      margin: 0;
      padding: 0;
      margin-right: 20px;
   }
   .functional-list__items:nth-child(3){
      margin-right: 0;
   }
   .functional-list__title{
   display: inline-block;
   margin: 28px 0 10px 0;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 30px;
   line-height: 35px;
   color: #333333;
   }
   .fuct-text-box{
      width: 377px;
   }
   .functional-list__text{
      margin: 0;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #333333;
   }
}

// work
.work{
   padding: 260px 20px 80px 20px;

   .work-box{
      background-image: url(../images/ghj.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-color: #086651;
      background-blend-mode: overlay;
   }
   .work-inner{
   position: relative;
   padding: 50px 0px 50px 0px;
   
   }
   .work-inner::before{
      display: block;
      position: absolute;
      top: 42px;
      right: 25px;
      width: 192px;
      height: 130px;
      background-image: url(../images/sticker-3.png);
      background-repeat: no-repeat;
      background-size: 192px 130px;
      content: "";
   }
   .work__title{
   margin: 0;
   margin-bottom: 80px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 50px;
   line-height: 59px;
   text-align: center;
   font-variant: small-caps;
   color: #FFFFFF;
   }
   .work__chekbox{
      display: flex;
   }
   .work__span{
   position: relative;
   z-index: 5;
   display: block;
   margin-right: 368px;
   width: 60px;
   height: 60px;
   background-color: #F8F8F2;
   border: 4px solid #C99B67;
   }
   .span-active{
      margin-left: 24px;
   }
   .work-list {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      padding: 20px 31px 60px 30px;
      margin: 0;
      list-style-type: none;
   }
   .work-list::before{
      display: block;
      position: absolute;
      top: -30px;
      left: 35px;
      right: 25px;
      width: 899px;
      height: 4px;
      background-image: url(../images/vek-5.png);
      background-repeat: no-repeat;
      background-size: 899px 4px;
      content: "";
   }
   .work-list__items {
      width: 433px;
      margin: 0 20px 0 0;
      padding: 20px 20px 40px 20px;
      background-color: #F8F8F2;
   }
   .work-list__items:nth-child(3){
      margin-right: 0;
   }
   .work-list__strong{
   display: inline-block;
   margin-bottom: 45px;
   padding-left: 328px;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 64px;
   line-height: 75px;
   font-variant: small-caps;
   color: #333333;
   opacity: 0.8;
   }
   .work-list__title{
      margin: 0 0 10px 0;
   font-family: 'Roboto';
   font-weight: 500;
   font-size: 40px;
   line-height: 47px;
   font-variant: small-caps;
   color: #333333;
   }
   .work-list__text-box{
      width: 385px;
   }
   .work-list__text{
   margin: 0;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   color: #333333;
   }
   .work__link-box{
      
      text-align: center;
   }
   .work__link{
   display:inline-block;
   margin: 0 auto;
   text-decoration: none;
   padding: 16px 24px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 1px;
   font-variant: small-caps;
   color: #FFFFFF;
   mix-blend-mode: normal;
   background-color: #C99B67;
   border-radius: 100px;
   }
}

// footer
.footer{
   background-image: url(../images/footer.png);
   background-repeat: no-repeat;
   background-size: 100%;
   background-color: #F2D2AF;
   background-blend-mode: overlay;

   .footer-inner{
      display: flex;
      align-items: center;
      padding: 70px 50px 70px 50px;
   }
   .logo-box{
      margin-right: 246px;
   }
   .footer-list-box{
      margin-right: 290px;
   }
   .footer-list {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
     
   }
   .footer__list-item {
      width: 85px;
     margin: 0 20px 0 0;
     padding: 0;
   
   }
   .footer__list-item:nth-child(1){
      width: 50px;
   
   }
   .footer__list-item:nth-child(3){
      width: 185px;
      margin-right: 0;
   }
   
   .footer__link {
   display: inline-block;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 1px;
   color: #333333;
   text-decoration: none;
   }
   
   .footer-icon {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
   }
   .footer-icon__items {
      margin: 0 30px 0 0;
      padding: 0;
   }
   .footer-icon__items:nth-child(3){
      margin-right: 0;
   }
   
   .footer-icon__link {
      text-decoration: none;
   }
}